
/* we solve the margin problem by adding overflow : hidden to the parent */
.box{
    background-color: black;
    width: 500px;
    height: 300px;
    overflow: hidden;
 
}
.child{
    background-color: teal;
    width: 70px;
    height: 70px;
    margin-top: 50px;
}
/* overflow-auto float */

/* group class */
.size{
    width: 200px;
    height: 200px;
}
.red{
    background-color: red;
    float: left;  /*we give it the float  */
}
.blue{
    /*   we don't give it the float  */
    background-color: blue; 
}
/* we solve the float problem by adding overflow : auto to the parent */
.parent{
    overflow: auto;  
}